@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
            <Authorized>
                    <button @onclick="SubmitLogOut">Log out</button>
            </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {

    private async void SubmitLogOut()
    {

        await ((ApiAuthenticationStateProvider)AuthProvider).MarkUserAsLoggedOut();
        Navigation.Refresh(true);
    }
}
